body {
  margin: 0px;
  background-color: #EBEBEB;
}

div {
  display: inline-block;
  white-space: nowrap;
}

div.label {
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 10px;
}

table {
  border-collapse: collapse;
  align: center;
}

th, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;
}

table#header {
  background-color: #3C3C3C;
}

td#title {
  text-align: center;
  font-family: ProximaNovaExCnBold, Arial, sans-serif;
  font-size: 30;
  color: #F27333;
  min-width: 630px;
  width: 100%;
  border: 0px;
}

td#logo {
  width: 150px;
  border: 0px;
}

img#logo {
  height: 55px;
  border: 0px;
}